.product-table {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  border-spacing: 0;
  /* font-size: x-small; */
  font-size: small;
}

.product-table-header-column {
  border-bottom: 1px solid #e8e8e8;
  padding: 0;
  font-size: 16px;
  padding: 10px 5px;
  font-weight: bold;
  font-size: small;
}

.product-table-row:hover {
  background-color: #eceaea;
  cursor: pointer;
  /* font-size: x-small; */
}

.product-table-column {
  padding: 10px 0px;

  /* border: 1px solid red; */
}
.product-table-column-no {
  padding: 10px 5px;
  font-size: x-small;
  /* border: 1px solid red; */
}

.product-table-column-title {
  /* padding: 10px 5px; */
  text-align: left;
  font-size: small;
  text-decoration: none;
  /* border: 1px solid red; */
  padding: 0px;
}
.link-title {
  text-decoration: none;
}

/* .b {
  border: 1px solid red;
} */
.product-button-nonsell {
  background-color: rgb(234, 230, 230);
  min-height: 30px;
  margin: 5px 0px;
  margin-left: 10px;
  color: #395382;
  padding-top: 4px;
  text-align: center;
  border-radius: 3px;
  max-width: 100px;
  margin-right: 5px;
  /* vertical-align: middle; */
}

.product-button-nonsell:hover {
  /* background-color: lightgray; */
  /* color: white; */
  /* border: 2px solid lightgray; */
  box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.25);
}

.product-button-sell {
  background-color: #98b6e4;
  min-height: 30px;
  margin: 5px 0px;
  margin-left: 10px;
  margin-right: 5px;
  color: white;
  /* color: #395382; */
  padding-top: 4px;
  text-align: center;
  border-radius: 3px;
  max-width: 100px;
  /* vertical-align: middle; */
}
.product-button-sell:hover {
  box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.25);
}
